body {
    font-family:Play;
}
section {
    position: absolute;
    top: 40px;
    right: 90px;
    text-align: right;
}

aside {
    position: absolute;
    right: 0;
    width: 430px;
    display: block;
    background-color: rgba(1, 1, 1, 0.4);
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    color: #c0c0c0;
    text-align: left;
    line-height: 1.7em;
}


section h1 {
    font-size: 2.5em;
    color: #D6D6D6;
    margin-bottom: 5px;
}

section h1 span.part {
    color: #808080;
    text-shadow: #EAEAEA 1px -1px 0px;
    padding: 0 3px;
}
section h1 span.small {
    font-size: 0.5em;
    color: #5b5c5d;
}

section span.speaker {
    text-align: center;
    color: #E6E6E6;
}

section span.speaker a {
    color: #E6E6E6;
}
time {
    color: #E6E6E6;
    font-size: 3.3em;
    font-weight: bolder;
}

img#background {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) {
    img#background {
        left: 50%;
        margin-left: -512px;
    }
}
#countdown {
  font-size: 20px;
  display: block;
}

/*----------------------
  firefox 에서
  공이 떨어질 때
  스크롤바 생기는 현상
  제거
  @nanhapark
----------------------*/
html {
  overflow: hidden;
}
