/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    /*background-color: #d9d9d9;*/
    background-image: url(/2012/img/paper-background.jpg);
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Source Code Pro', Helvetica, Helvetica Neue, Arial;
    letter-spacing: -1px;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */








/* ==========================================================================
   Media Queries
   ========================================================================== */

/*styles for 300 and up @ 16px!*/
/* The max-width declaration below blocks this from ever working */
@media only screen and (min-width: 18.75em){
  body {
  }
  .sidebar {
    display: none;
  }
  .logo {
    display: none;
  }
  .logo-shiv {
    display: block;
  }
  .about {
    background: rgba(255, 255, 255, .4) !important;
    margin: 20px;
    padding: 15px;
    width: 300px;
  }
  .snsbar {
    background: rgba(255, 255, 255, .4) !important;
    margin: 20px;
    padding: 15px;
  }
}


/*styles for 480px - 620px @ 16px!*/
@media only screen and (min-width: 30em) and (max-width: 38.75em) {
  body {
  }
}

/*styles for 801px and up @ 16px!*/
@media screen and (min-width: 50em){
  body {
  }
}

/*styles for 1100px and up @ 16px!*/
@media screen and (min-width: 68.75em){
  body {
  }
}
@media only screen and (min-width: 480px) {
  body {
    /*background-color: red;*/
  }

  .container::before {
    top: -100px;
    border-bottom: 100px solid white;
    border-left: 367px solid transparent;
    border-right: 377px solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    width: 0px;
    opacity: 0.4 !important;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 740px;
    background: rgba(255, 255, 255, .4);
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;
  }

  .container:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -100px;
    border-top: 100px solid #fff;
    border-left: 367px solid transparent;
    border-right: 375px solid transparent;
    opacity: 0.4 !important;
  }
  .sidebar {
    width: 740px;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    top: 100px;
    background-color: #8FC740;
    display: block;
  }
    nav a {
        display: inline;
        margin-bottom: 10px;

        text-align: center;
        text-decoration: none;
        font-weight: bold;

        color: white;
    }
  .main {
    margin-left: 20px;
    margin-right: 20px;
    width: 420px;
    margin-top: 75px;
  }
  .about {
    background: rgba(255, 255, 255, .4) !important;
    margin-top: 140px !important;
    padding: 0px !important;
    width: 420px;
  }
  .logo {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 420px !important;
    position: absolute;
    left: 157px;
    top: -30px;
    display: block;
  }
  .logo-shiv {
    display: none;
  }
  /*--------------------------------------
   * sns bar
   * ------------------------------------*/
  .snsbar::before {
    border-bottom: 113px solid #d9d9d9;
    border-left: 206px solid transparent;
    border-right: 0px solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    top: -113px;
    width: 0px;
  }
  .snsbar {
    width: 205px;
    height: 1350px;
    position: absolute;
    right: 0;
    top: 330px;
    background-color: #d9d9d9 !important;
    margin: 0px;
    padding: 0px;
  }
  .snsbar::after {
    border-top: 113px solid #d9d9d9;
    border-left: 206px solid transparent;
    border-right: 0px solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    bottom: -113px;
    width: 0px;
  }
    .snsbar .contents {
      padding: 0 10px;
    }
/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        width: 27%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

/* desktop */
@media screen and (min-width: 1200px){
  body {
    /*background: #eaeaea;*/
  }
  .container::before {
    top: -100px !important;
    border-bottom: 100px solid #fff !important;
    border-left: 498px solid transparent !important;
    border-right: 506px solid transparent !important;
    content: " ";
    height: 0 !important;
    position: absolute !important;
    width: 0px !important;
    opacity: 0.4 !important;
  }

  .container {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 980px !important;
    background: rgba(255, 255, 255, .4) !important;
    margin-top: 130px !important;
    margin-bottom: 130px !important;
    position: relative !important;
  }

  .container:after {
    content: "" !important;
    width: 0 !important;
    position: absolute;
    bottom: -100px !important;
    border-top: 100px solid #fff !important;
    border-left: 498px solid transparent !important;
    border-right: 506px solid transparent !important;
    opacity: 0.4;
  }

  .logo {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 420px !important;
    position: absolute;
    left: 287px !important;
    top: -40px !important;
    display: block !important;
  }
  .logo-shiv {
    display: none;
  }
  .main {
    padding-top: 100px;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 420px !important;
  }


  /*--------------------------------------
   * sidebar
   * ------------------------------------*/
  .sidebar::before {
    border-bottom: 96px solid #8FC740 !important;
    border-left: 0px solid transparent !important;
    border-right: 200px solid transparent !important;
    content: " ";
    height: 0;
    position: absolute !important;
    top: -96px !important;
    width: 0px !important;
  }
  .sidebar {
    width: 200px !important;
    position: absolute !important;
    left: 0 !important;
    top: 96px !important;
    background-color: #8FC740 !important;
    display: block;
    text-align: left;
  }
  .sidebar::after {
    border-top: 96px solid #8FC740;
    border-left: 0px solid transparent;
    border-right: 201px solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    bottom: -96px;
    width: 0px;
  }
    nav {
      margin-left: 50px;
    }
    nav a {
      
        display: block !important;
        margin-bottom: 10px;

        text-align: center;
        text-decoration: none;
        font-weight: bold;

        color: white;
    }
    .sidebar ol {
      display: block;
      list-style-type: none;
    }


  /*--------------------------------------
   * sns bar
   * ------------------------------------*/
  .snsbar::before {
    border-bottom: 140px solid #d9d9d9 !important;
    border-left: 250px solid transparent !important;
    border-right: 0px solid transparent !important;
    content: " " !important;
    height: 0 !important;
    position: absolute !important;
    top: -140px !important;
    width: 0px !important;
  }
  .snsbar {
    width: 250px !important;
    position: absolute !important;
    right: 0 !important;
    top: 140px !important;
    background-color: #d9d9d9 !important;
    margin: 0px !important;
    padding: 0px !important;
  }
  .snsbar::after {
    border-top: 140px solid #d9d9d9 !important;
    border-left: 250px solid transparent !important;
    border-right: 0px solid transparent !important;
    content: " " !important;
    height: 0 !important;
    position: absolute !important;
    bottom: -140px !important;
    width: 0px !important;
  }

  .about {
    background: transparent !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 420px !important;
  }
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
